* {
  margin: 0 auto;
  padding: 0;
}

body {
  color: #fff;
}

ul {
  margin: 0;
}

h1 {
  padding: 12px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.article h1 {
  border: none;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
  letter-spacing: 1px;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

nav ul {
  list-style: none;
  margin: 0;
  float: right;
}
nav ul li {
  display: inline-block;
  line-height: 50px;
  float: left;
  margin-right: 20px;
}
nav ul li a {
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  height: inherit;
  color: #fff;
}
nav ul li.logo {
  float: left;
}

.active {
  border-bottom: 4px solid #fff;
}

header {
  background: rgba(0, 0, 0, 0.4);
}

button {
  border: none;
  background: #137a7f;
  color: #eee;
  padding: 10px;
}

#banner {
  height: 700px;
}
#banner .inner {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 160px;
}
#banner .inner h1 {
  margin: 0;
}
#banner .inner .more {
  margin-top: 220px;
}
#banner button {
  padding: 14px 60px;
}

.article #banner {
  height: 300px;
}
.article #banner .inner {
  top: 30px;
}

.sub-heading {
  line-height: 30px;
  margin: 30px auto;
}

.logo {
  float: left;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  padding-left: 20px;
}
.logo a {
  color: #fff;
  text-decoration: none;
  line-height: 50px;
}

.green-section {
  background: #089DB0;
  color: #fff;
  text-align: center;
  padding: 100px 0;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

.hr {
  width: 100%;
  margin: 20px auto;
  height: 2px;
}

.green-section .hr {
  background: #078494;
  width: 60%;
}

.green-section .icon-group .icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: #333 solid 4px;
  transform: rotate(45deg);
  margin: 20px;
}

.icon-group {
  margin-top: 60px;
}

.sub-heading {
  font-size: 18px;
}

.gray-section {
  background: #252F34;
  color: #fff;
}
.gray-section .img-section {
  width: 45%;
}
.gray-section .text-section {
  width: 55%;
}

.img-section img {
  width: 100%;
}

.article-preview {
  font-size: 0;
}

.article-preview:nth-child(odd) {
  background: rgba(255, 255, 255, 0.05);
}

.article-preview > div {
  float: left;
}

.article-preview:after {
  content: '';
  display: block;
  clear: both;
}

.text-section {
  position: relative;
  top: 68px;
}

.text-section h2 {
  margin-bottom: 20px;
}
.text-section p {
  font-size: 18px;
  letter-spacing: 1px;
}
.text-section .sub-heading {
  font-size: 22px;
  margin-top: 0;
}
.text-section > * {
  width: 90%;
}

.purple-section {
  padding: 80px;
  background: #3f3965;
  color: #fff;
}
.purple-section .heading-wrapper {
  text-align: center;
}
.purple-section .hr {
  background: #373259;
  width: 60%;
}

.card-group {
  width: 60%;
}

.card {
  float: left;
  width: 50%;
  min-height: 300px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.card p {
  margin-top: 15px;
  line-height: 25px;
}

.card:first-child {
  background: rgba(0, 0, 0, 0.04);
}

.card:nth-child(2) {
  background: rgba(0, 0, 0, 0.08);
}

.card:nth-child(3) {
  background: rgba(0, 0, 0, 0.12);
}

.card:nth-child(4) {
  background: rgba(0, 0, 0, 0.16);
}

.card:nth-child(5) {
  background: rgba(0, 0, 0, 0.2);
}

.card:nth-child(6) {
  background: rgba(0, 0, 0, 0.24);
}

footer {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  min-height: 200px;
  text-align: center;
}

ul.share-group {
  display: block;
  margin: 0 auto;
  padding: 50px;
}

.share-group li {
  display: inline-block;
  padding: 10px;
}

.copy {
  padding-bottom: 20px;
}

.main-wrapper {
  background: #444 url(../img/banner.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

#sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  /* 	right: 0;
  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0); */
  bottom: 0;
  width: 300px;
  background: #333;
  color: #fff;
  padding: 20px 0;
  transition: right 0.5s;
}
#sidebar ul {
  list-style: none;
}
#sidebar ul a {
  text-decoration: none;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  width: 100%;
}
#sidebar ul a:hover {
  background: #444;
}

.back-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.article .content {
  background: #fefefe;
}

.content_wrapper {
  width: 1080px;
}

.article_info {
  font-size: 14px;
  color: #888;
  padding: 15px 10px;
}

article {
  line-height: 2;
  padding: 10px;
  color: #333;
}
